<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1 align="center" class="m-5"><strong>INSTRUCTIONS</strong></h1>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>This is a 30 minute test with 30 questions.</li>
                <li>Each question carries <span style="color: green;">+1 mark</span> for right answer and <span style="color: red;">-0.33</span> for wrong answer.</li>
                <li><span style="color: red;">0 mark</span>will be awarded for non attempted questions.</li>
                <li>The timer will start as soon as you click the Start Test button below.</li>
                <li>Please do not use keyboard from here onwards</li>
                <li>Use only mouse for any activity.</li>
                <li>Any use of keyboard will be seen as a cheating attempt</li>
                <li>The scores will be automatically submitted as soon as time runs out,or you press the Submit Button, which ever happens first.</li>
                <li>Each question has four options.Only one of them is <span style="color: green;">correct answer.</span>There are no multiple correct answers.</li>
                <li>You can switch from one question to the next or previous question using Next or Previous button.</li>
                <li>You can use Unanswer button to remove your selected answer for any question.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button routerLink="/home"   class="btn btn-primary p-2" id="timer_button" style="font-weight: 700;width: 200px;letter-spacing: 7px;">
                Start Test
            </button>    
        </div>
    </div>

</div>

