<h1 style="text-align: center;">QUESTIONS {{i+1}}</h1> 
<div class="container">
    <form [formGroup]="form">
        <div class="form-row">
            <div class="form-group col-10">
                <textarea class="form-control" rows="10">{{questionScreen?.question}}</textarea>

            </div>
            <div class="form-check col-12">
                <input class="form-check-input" name="option" formControlName="option" type="radio" class="uncheck" id="option11" value='1' checked>
                <label class="form-check-label" for="option11">
                    {{questionScreen?.option1}}            
                </label>
            </div>
            <div class="form-check col-12">
                <input class="form-check-input" name="option" formControlName="option" type="radio" class="uncheck" id="option2" value='2'>
                <label class="form-check-label" for="option2">
                    {{questionScreen?.option2}}            
                </label>
            </div>
            <div class="form-check col-12">
                <input class="form-check-input" name="option" formControlName="option" type="radio" class="uncheck" id="option3" value='3'>
                <label class="form-check-label" for="option3">
                    {{questionScreen?.option3}}            
                </label>
            </div>
            <div class="form-check col-12">
                <input class="form-check-input" name="option" formControlName="option" type="radio" class="uncheck" id="option4" value='4'>
                <label class="form-check-label" for="option4">
                    {{questionScreen?.option4}}            
                </label>
            </div>
        </div>
        <button class="btn btn-primary" (click)=getPreviousQuestion()>PREVIOUS</button>
        <button class="btn btn-primary mx-4" (click)=getNextQuestion(questionScreen?._id)>NEXT</button>
        <button class="btn btn-primary" (click)=calculateScore()>FINISH TEST</button>

    </form>



    <div style="background-color: white;">
		<div class="timer">
			<p class="display-4" id="timer_content">Timer for now</p>
			<!-- <p id="time_left"> Timer not started yet</p> -->
        </div>
    </div>

</div>